
body { font-family: 'Droid Serif'; }
h1, h2, h3 {
	font-family: 'Arial';
	font-weight: normal;
}

h4 {
	font-size: 20px;
	font-family: 'Arial';
	color: darkblue;
}




.remark-code, .remark-inline-code { font-family: 'Consolas'; }

/* Two-column layout */
.left-column {
	width: 50%;
	float: left;
}

.right-column {
	width: 50%;
	float: right;
}

.left-column h3, h4, .right-column h3,h4{
	text-align: center;
}

.banner {
	background: black;
	padding-left: 2em;
	color: white;
}

.content {
	padding: 1em 2em 1em 2em;
}
